# Default number of objects per page
PER_PAGE = 9

# Django secret key
SECRET_KEY = 'CHANGE-ME'

# True = 1 - False = 0
DEBUG = 1

# Comma separated values
ALLOWED_HOSTS = '127.0.0.1, localhost'
# CSRF_TRUSTED_ORIGINS = 'https://localhost'