{% if recipes.has_other_pages %}
    <div class="container pagination">
        <div class="pagination-content">
            
            {% if pagination_range.first_page_out_of_range %}
                <a href="?page=1" class="page-link page-item">1</a>
                <span class="page-item">...</span>
            {% endif %}

            {% for page in pagination_range.pagination %}
                <a href="?page={{ page }}" class="page-link page-item">{{ page }}</a>
            {% endfor %}

            {% if pagination_range.last_page_out_of_range %}
                <span class="page-item">...</span>
                <a href="?page={{ pagination_range.total_pages }}" class="page-link page-item">
                    {{ pagination_range.total_pages }}
                </a>
            {% endif %}

        </div>
    </div>
{% endif %}