
{% extends 'global/base.html' %}

{% block title %}Login | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Login</h2>
    {% if request.user.is_authenticated %}
      <div>
        You are logged in with
        {{ request.user.username}}.
        Please,
        <form class='inline-form' action="{% url 'authors:logout' %}" method="POST">
          {% csrf_token %}
          {% comment %} 
          input hidden?
          para voce saber quem é  o usuário tentando sair da  sua aplicação 
          {% endcomment %}
          <input type="hidden" name="username" value={{ request.user.username }}>
          {% comment %} 
          botão para user realizar logout 
          {% endcomment %}
          <button class='plaintext-button' type="submit">click here</button>
        </form> to logout.  
      </div>
    {% endif %}
  </div>

  {% include 'global/partials/messages.html' %}
  {% include 'global/partials/form.html' %} 
{% endblock content %}